<h1> Welcome to the puppy adoption site!</h1>


<a href="/new">List A Puppy</a>

<form method="POST" action="/new">
  <label for="name"></label>
  <input type="text" id="" name="">
  <label for="breed"></label>
  <input type="text" id="" name="">
  <label for="age"></label>
  <input type="text" id="" name="">
</form>
